{% extends "BlogApp/parent.html" %}
{% load static %}
{% block contenidoQueCambia %}
<div>
    <div align="center">
        <h3>José Pablo Vega</h3>
        <br>
        <img src = "{% static 'Jose.jpg' %}" height="300">
        <br><br> Jose es Politólogo, tiene 29 años y vive en Sinalo, Mexico.
        <br><br>
        <h3>Juan Andres Licandro</h3>
        <img src = "{% static 'Juan.jpg' %}" height="300">
        <br><br> Juan es Ecólogo, tiene 26 años y vive en Ciudad de la Costa, Uruguay.
        <br><br> Aqui es donde iria un Jorge, si tuvieramos uno... :(
        <h1>Tremendo equipo!!!</h1>
        <br><br>
    </div>
</div>
{% endblock %}