{% extends "BlogApp/parent.html" %}
{% load static %}
{% block contenidoQueCambia %}

<div>
  <div align="center">
    <a href="{% url 'blog_list' %}">Volver a Lista</a>
    <h2 style="font-size: 30;"><i>{{object.titulo}}</i></h2>
    <br>
    <h4 style="font-size:24;">{{object.subtitulo}}</h4>
    <hr>
    Publicado por {{object.autor}} en ({{object.creacion}})
    <br><br>
    <p style="font-size:20;"> {{object.cuerpo}} </p>
    <img src = "{{ object.imagen.url }}" height="500">
  </div>
{% if user.is_authenticated %}
    {% if user == object.autor %}
    <div align="center">
      <a href="{% url 'blog_delete' object.id %}" style="font-size: 10px;">Borrar</a> |
      <a href="{% url 'blog_update' object.id %}" style="font-size: 10px;">Actualizar</a>
    </div>
    {% endif %}
{% endif %}
    


{% endblock %}


</div>